@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Android";
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #f5f5f5;
    --cor1: #bfbfbf;
    --cor2: #7e84f2;
    --cor3: #274873;
    --cor4: #394759;
    --cor5: #5f9ea0;


    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaques:'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrão);
    margin: auto;
 }

 header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
   
    min-height: 150px;
    text-align: center;

}

.logotopo {
    width: 80px;
    height: 75px;
}

header > h1 {
    letter-spacing: 0.5em;
    margin-bottom: 1px;
    text-shadow: 3px 3px rgba(255, 235, 205, 0.103);
}

header > h3 {
    font-size: 1em;
    letter-spacing: .1em;
    text-shadow: 3px 3px rgba(255, 235, 205, 0.096);
}

nav {
    background-color: var(--cor4);
    text-align: center;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: var(--cor0);
    padding: 5px;
    border-radius:10%;
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    font-weight: bolder;

}
